body, html, #root, .App {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  background: linear-gradient(to top right, #eee, #e2fdfa);
  background-repeat: no-repeat;
}
* {
  box-sizing: border-box
}